/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off' 
Feel free to adjust the defaults to your needs.
********************************************** */

body {
	background-color: black;
	text-align: center;
}

p {
	color: white;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	margin: 0 auto;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

/* Onzichtbare computer man  */
.voice1 {
	font-family: "brenner mono";
	font-style: normal;
	font-weight: 600;
	font-size: 1.4rem;
	padding-left: 30%;
	text-align: left;
	width: 30rem;
	top: 63%;
}

/* Officer KD6-3.7 */
.voice2 {
	font-family: "brenner sans";
	font-style: normal;
	font-weight: 400;
	font-size: 1.2rem;
	padding-left: 50%;
	text-align: right;
	width: 20rem;
	top: 63%;
}

 /* Man in de gang */
.voice3 {
	font-family: "brenner sans";
	font-style: italic;
	font-weight: 200;
	font-size: 1.2rem;
	width: 104rem;
	top: 63%;
}

/* Laatste stem */
.voice4 {
	font-family: "brenner sans";
	font-style: italic;
	font-weight: 200;
	font-size: 1.2rem;
	width: 104rem;
	top: 63%;
}

/* Sounds */

#sounds p {
    opacity: 0;
    margin: -10em auto 0;
    text-align: center;
    width: 100%;
    position: absolute;
    color: grey;
    font-family: "Brenner Mono Italic";
    z-index: 200;
    font-size: 1.2em;
}

@keyframes first {
    0% {
        opacity: 1
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.sound0 #sounds .nummer1 {
	animation: first 8s;
}

.sound1 #sounds .nummer2 {
	animation: first 1.5s;
}

.sound2 #sounds .nummer3 {
	animation: first 1.5s;
}

.sound3 #sounds .nummer4 {
	animation: first 1.5s;
}

.sound4 #sounds .nummer5 {
	animation: first 0.5s;
}

.sound6 #sounds .nummer6 {
	animation: first 1.5s;
}

.sound7 #sounds .nummer7 {
	animation: first 1.5s;
}

.sound8 #sounds .nummer8 {
	animation: first 1s;
}

.sound9 #sounds .nummer9 {
	animation: first 1.5s;
}

.sound10 #sounds .nummer10 {
	animation: first 43s;
}


@keyframes Highkillingbeep {
	0% {
		transform: scale(1.0, 1.0);
	}
	
	100% {
		transform: scale(1.5, 1.5);
	}
}
.sound10 {
	animation: Highkillingbeep ;
	animation-duration: 43s;
	animation-timing-function: ease-in-out;
}


/* @keyframes blinkingBackground {
    0% {
        background-color: yellow;
    }

    25% {
        background-color: black;
    }

    50% {
        background-color: yellow;
    }

    75% {
        background-color: black;
    }

    100% {
        background-color: yellow;
    }
}

.sound10 {
    background-color: black;

    animation: blinkingBackground 1s 42;
    animation-delay: 1s;
} */


/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
  /* .p0 span {
	opacity: 0;
	font-family: brenner;
}
.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-family: "brenner sans";
	font-style: normal;
	font-weight: 800; */
/* }
.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s;
	margin-right: -.25em;
	font-family: "brenner sans";
	font-style: normal;
	font-weight: 800;
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s;
	margin-right: -.25em;
	font-family: "brenner sans";
	font-style: normal;
	font-weight: 800;
}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s;
	margin-right: -.25em;
	font-family: "brenner sans";
	font-style: normal;
	font-weight: 800;
}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s;
	margin-right: -.25em;
	font-family: "brenner sans";
	font-style: normal;
	font-weight: 800;
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s;
	margin-right: -.25em;
	font-family: "brenner sans";
	font-style: normal;
	font-weight: 800;
}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s;
	margin-right: -.25em;
	font-family: "brenner sans";
	font-style: normal;
	font-weight: 800;
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s;
	font-family: "brenner sans";
	font-style: normal;
	font-weight: 800;
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s;
	font-family: "brenner sans";
	font-style: normal;
	font-weight: 800;
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s;
	font-family: "brenner sans";
	font-style: normal;
	font-weight: 800;
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s;
	font-family: "brenner sans";
	font-style: normal;
	font-weight: 800;
}  */
